.leaflet-container {
  width: 100%;
  height: 94vh;
}

.container-fluid {
  padding: 0px;
}

.navbar {
  height: 6vh;
}

@media (min-width: 600px) {
  .MuiContainer-root {
    padding-left: 0px !important;
    padding-right: 0px !important;
  }
}

@media (min-width: 1920px) {
  .MuiContainer-maxWidthXl {
     max-width: 100vw !important
  }
}
