.leaflet-container {
  width: 100%;
  height: 94vh;
}

.container-fluid {
  padding: 0px;
}

.navbar {
  height: 6vh;
}

.MuiContainer-root {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

@media (min-width: 1920px) {
  .MuiContainer-maxWidthXl {
    max-width: 100vw !important;
  }
}

@media (min-width: 600px) {
  .leaflet-container {
    width: 100%;
    height: 80vh;
  }
}

@media (min-width: 300px) {
  .leaflet-container {
    width: 100%;
    height: 65vh;
  }
}

@media (min-width: 600px) {
  .graphs {
    visibility: hidden;
  }
}

@media (min-width: 1920px) {
  .graphs {
    visibility: true;
  }
}

@media (min-width: 1920px) {
  .leaflet-container {
    width: 100%;
    height: 94vh;
  }
}

h2 {
  font-size: 1.8rem !important
}

h1 {
  font-size: 2rem !important
}


html,
body {
  height: 100%;
}

a:hover {
  color: #faebd7 !important;
}
